.root {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5px, -12px);
  width: 48px;
  height: 48px;
  z-index: 1;
}
.root.eyesRight {
  transform: translate(20px, -12px);
}
.eye {
  width: 50%;
  aspect-ratio: 1;
  background-color: white;
  color: #404042;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid #404042;
  position: relative;
}
.pupil {
  width: 12px;
  height: 12px;
  background-color: #404042;
  border-radius: 50%;
  position: absolute;
}
.pupil.pupilsRight {
  transform: translate(4px, 0px);
}
.pupil.pupilsLeft {
  transform: translate(-4px, 0px);
}
.pupil.pupilsUp {
  transform: translate(0px, -4px);
}
.pupil.pupilsDown {
  transform: translate(0px, 4px);
}
