.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://bellroy-cms-images.imgix.net/897/background-texture-repeat.jpg");
}

.gridContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
